<div id="realTime-container">
    <div class="split-left">
        <h3>Add Products:</h3>

        <div class="container-form">

            <form id="form">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" required />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input
                        type="text"
                        name="description"
                        id="description"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" required />
                </div>

                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" name="code" id="code" required />
                </div>

                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" name="stock" id="stock" required />
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" name="category" id="category" required />
                </div>

                <div class="form-group">
                    <label for="status">Status (true or false)</label>
                    <input type="text" name="status" id="status" required />
                </div>

                <div class="form-group">
                    <label for="thumbnails">Thumbnails</label>
                    <input type="text" name="thumbnails" id="thumbnails" required />
                </div>

                <input type="submit" value="SEND" />

            </form>

        </div>
    </div>

    <div class="split-right">

        <h3>Products List:</h3>

        <div id="products">

            <div />

        </div>

    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>