<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title>Backend Ecommerce</title>
</head>

<body>
    <div class="container-welcome">
        <h1>Backender v1</h1>
        <p class="store-description">Powered by FROSSL</p>
    </div>

    {{{body}}}

</body>

</html>